/* John Smith

color scheme: red: #962D3E; dark blue-ish black: #343642; grey: #979C9C; baige: #F2EBC7; turquoise: #348899; */

/* Body-related CSS -------------------------------- */

#wrapper {
	width: 60%;
	margin: 0 auto;
	background-color: #962D3E;
	padding: 10px;
}

body {
	background-color: #348899;
	color: white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* Header-specific CSS ------------------------------ */

h1 {
	background-color: #343642;
	padding: 10px;
	margin-top: 0px;
}

/* Form-specific CSS -------------------------------- */

form    {
	margin:auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	padding:10px;
}

.welcomeUserForm {
	display: inline;
	position: relative;
	left: 600px;
}

.dashForm {
	display: inline;
	position: relative;
	left: 435px;
}

/* Tabbed Accordian CSS ----------------------------- */

body{
	margin-top: 100px;
	line-height: 1.6
}
.container{
	width: 800px;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #FFF;
	color: #222;
}

.tab-content{
	display: none;
	background: #FFF;
	padding: 15px;
	color: #000;
}

.tab-content.current{
	display: inherit;
}

/* Modal-specific CSS ------------------------------ */

#overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

#modal {
	width: 350px;
	background: #CCC;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	z-index: 1001;
	display: none;
}

#modal .header{ 
	background: #333;
	color: #FFF;
	padding: 10px;
}

#modal p {
	margin: 15px;
}

#modal .close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: #F00;
}

form {
	padding: 10px;
}

form.input {
	padding: 10px;
}

header {
	width: 960px;
}

.userid{
	width: 100px;
	float: left;
}

.logoutbox {
	width: 400px;
	float: right;
}

.mystatus > input[type=radio]{
	display: none;
}

input[type=radio] + img {
	cursor: pointer;
	border: 2px solid transparent;
}

input[type=radio]:checked + img{
	border: 2px solid #F00;
}